<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS setup</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>We are learning ejs </h1>
    <h2>My name is <%= name %></h2>
    <ul>
        <li><%= products[0].title%> <%=products[0].price%></li>
        <li></li>
    </ul>
</body>
</html>